<section class="main">
  <!-- <div><img src="" alt="" class="img"></div> -->
  <div>
      <h2>Hello I'm Ziyad <br><span>MEAN Stack Developer</span></h2>
      <h3>I build full stack Applications</h3>
      <a href="https://drive.google.com/file/d/1d-7AaoWe5Ahn3DNMHvUpzXreUSIcAYvL/view?usp=drive_link" target="_blank" class="main-btn">View My Resume</a>
      <div class="social-media">
          <a href="https://www.linkedin.com/in/ziyad-alnaggar-828714218/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/ziyad224" target="_blank"><i class="fa-brands fa-github"></i></a>
      </div>
  </div>
</section>

