@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.contact{
  width: 50%;
  margin: 0px auto;
  padding-top: 150px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #fc0c0c;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;

}

label {
  font-size: 1.1em;
  color: #ff5252;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #0353a4;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 5px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #000;
}

.error {
  color: red;
  font-size: 0.9em;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ff9797;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #023e7d;
}

button:disabled {
  background-color: #7a7a7a;
}
