<section class="about-section">
  <div class="container">
    <h2>About Me</h2>
    <p>
      Hi! I'm Ziyad,You
      I am a dedicated and passionate software developer with extensive expertise in the MEAN Stack—MongoDB, Express.js,
      Angular, and Node.js. Over the past 2 years, I have honed my skills in full-stack development, delivering robust,
      scalable, and efficient web applications. My journey in the tech industry has been marked by a relentless pursuit of
      excellence and a commitment to staying at the forefront of technological advancements.
    </p>
    <p>
      I thrive in collaborative environments, where I leverage my strong problem-solving abilities and in-depth knowledge of
      JavaScript frameworks to create seamless user experiences. Whether building dynamic front-end interfaces or designing
      powerful back-end systems, I bring a meticulous eye for detail and a proactive approach to every project.
    </p>
    <p>
      In addition to my technical skills, I am an advocate for continuous learning and professional growth. I regularly
      contribute to open-source projects, participate in coding communities, and stay updated with the latest industry trends.
      My goal is to apply my talents and passion for software development to drive innovation and create impactful solutions
      that meet and exceed client expectations.
          </p>



  </div>
</section>
